<md-spinner *ngIf="loading" class="loader" color="warn"></md-spinner>
<div *ngIf="!loading">
  <div *ngFor="let item of filteredMovieList; let i = index">
    <md-toolbar color="accent" class="padding-bottom">
      <h1>{{item.genre}}</h1>
      <span class="spacer"></span>
      <button md-button (click)="movieTitleSort(item)">Title</button>
      <button md-button (click)="movieRatingSort(item)">Rating</button>
      <button md-button (click)="movieScoreSort(item)">Score</button>
      <md-toolbar-row>
        <span class="spacer"></span>
        <h3 class="filter-title">Filters:</h3>
        <md-select multiple="true" placeholder="Ratings" [(ngModel)]="selectedRatings[i]">
          <md-option *ngFor="let rating of getMovieRatings()" (click)="filterMovieRatings(item, i)" [value]="rating">{{rating}}</md-option>
        </md-select>
      </md-toolbar-row>
    </md-toolbar>
    <div class="inline-block padding-bottom" *ngFor="let movie of item.movies">
      <movie-detail [movie]="movie" [openDialog]="openMovieDialog" [movieList]="movieList" [filteredMovieList]="filteredMovieList"></movie-detail>
    </div>
  </div>
  <div *ngFor="let item of showList">
    <md-toolbar color="accent" class="padding-bottom">
      <h1>{{item.source}}</h1>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <button md-button (click)="showTitleSort(item)">Title</button>
      <button md-button (click)="showRatingSort(item)">Rating</button>
      <button md-button (click)="showScoreSort(item)">Score</button>
    </md-toolbar>
    <div class="inline-block" *ngFor="let show of item.shows">
      <show-detail [show]="show"></show-detail>
    </div>
  </div>
</div>