/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    background-color: rgb(112,128,144);
}

.inline-block {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

.inline {
    display: inline;
}

.centered {
    text-align: center;
}